html,
body {
  width: 100%;
  height: 100%;
  background-color: #000000;
}
/* 
video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
} */

.contain {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#videoblock {
  position: relative;
  width: 0px;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#btn-take {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 48px;
}

#btn-take::after {
  display: inline-block;
  position: absolute;
  top: 6px;
  border-radius: 36px;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  width: 36px;
  height: 36px;
  background-color: #ff0000;
}

.action-bar {
  position: absolute;
  bottom: 0;
  height: 48px;
  width: 100%;
}

.action-bar .center {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 4px;
}

canvas {
  top: 0;
  position: absolute;
}

#mask {
  top: 0;
  position: absolute;
  background-image: url("../images/mask.png");
  background-size: cover;
  background-position: 50% 50%;
}

#result {
  position: absolute;
  top: 0;
}
